{% extends 'base.html' %}

{% block content %}

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Stock</th>
                <th>Daily Rate</th>
            </tr>
        </thead>

        <tbody>
            {% for movie in movies  %}
            <tr>
                <td>
                <a href ={%url 'movies:detail' movie.id%} >{{movie.title}}</a>
                </td>
                <td>{{movie.genre}}</td>
                <td>{{movie.number_in_stock}}</td>
                <td>{{movie.daily_rate}}</td>
            </tr>
            
            {% endfor %}
            
        </tbody>
    </table>
{% endblock  %}